<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Sidebar.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>

        $(document).ready(function () {
            $('#nav .navbar-nav li>a').on('click', function (event) {
                event.preventDefault();
                var sectionID = $(this).attr("href");
                scrollToID(sectionID, 750);
            });

            function scrollToID(id, speed) {
                var offSet = 70;
                var targetOffset = $(id).offset().top - offSet;
                $('html,body').animate({ scrollTop: targetOffset }, speed);
            }
        });
    </script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>
        jQuery(function ($) {

            // The speed of the scroll in milliseconds
            var speed = 1000;

            // Find links that are #anchors and scroll to them
            $('a[href^=#]')
                .not('.lp-pom-form .lp-pom-button')
                .unbind('click.smoothScroll')
                .bind('click.smoothScroll', function (event) {
                    event.preventDefault();
                    $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top }, speed);
                });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=@Url.Action("Index","Home")>
                    <img class="navbarLogo" src="..\..\Images\6d7481ba-53bc-410c-9727-dd648f3e96a3.png" alt="TPB Logo">
                </a>
            </div>
            <div id="navbar3" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="#"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    @if (Session["ahID"] == null)
                    {
                        <li><a id="login" href="~/AccountHolders1/Login"><b>Login</b></a></li>

                    }
                    else
                    {
                        <li><a id="logout" href="~/AccountHolders1/Logout"><b>Logout</b></a></li>

                    }
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TPB</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/navbar.css")

    @Styles.Render("~/Content/StyleSheet.css")
    @RenderSection("scripts", required: false)
</body>
</html>
