@model BankingWebsite.Models.Transaction

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-lg-2">
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href=@Url.Action("AccountHome","AccountHolders1")>
                            Overview
                        </a>
                    </li>
                    <li>
                        <a href="#">Statements</a>
                    </li>
                    <li>
                        <a href=@Url.Action("Create","Transactions")>Transfer money</a>
                    </li>
                    <li>
                        <a href="#">Make payment</a>
                    </li>


                </ul>
            </div>
        </div>
        <!-- /#wrapper -->
        <!-- Menu Toggle Script -->
        <script>
$("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });</script>
    </div>
    <div class="generalblock col-lg-8">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="transactioncreate form-horizontal">
                <h4 style="padding-left:170px;">Transfer</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.transDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @DateTime.Now.Date.ToShortDateString()
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.moneyOut, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.moneyOut, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.moneyOut, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.fromAccount, "fromAccount", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("fromAccount", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.fromAccount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.toAccount, "toAccount", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("toAccount", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.toAccount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
