@model IEnumerable<BankingWebsite.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.transDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moneyIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moneyOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Card.cardNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.transDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moneyIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moneyOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Card.cardNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.transID }) |
            @Html.ActionLink("Details", "Details", new { id=item.transID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.transID })
        </td>
    </tr>
}

</table>
